<h1>Edit Store Name</h1>

<form action="/stores/<%= @store.id %>" method="post">
  <input name="_method" type="hidden"  value="patch">
  <input type="text" name="store_name" id="store_name" value="<%= @store.store_name %>">
  <button type="submit" name="button">Save Changes</button>
</form>
