<div class= "jumbotron text-center">
<h1>Heel Yourself!</h1>
<h2>Naked beneath the ankles? Look no further.</h2>
<a href="/stores"><h3>Enter Here</h3></a>
</div>
<div class= "container-fluid">
<h3 class="text-center">Mission Statement:</h3>
  <p class="text-center">
     The story goes that our great great grand-pappy, Shoebert Heeler, grew<br>
     tired of walking through life in the vessels of his past self. He marched<br>
     on the fifth of March into town and declared he would travel the world<br>
     in search of the cure to shoelessness and would never stop until he found<br>
     it. We strive to continue our pappy's dream here.<br>
  </p>
  <img src="img/shoebert.jpg" class="img-circle center-block">
</div>
