<div class="jumbotron">
<h2>Add a New Store!</h2>
</div>

<div class="container-fluid">
<form class="form-inline" action="/stores" method="post">
  <div class="form-group">
    <label>Type here:</label>
    <input class="form-control" type="text" name="store_name" id="store_name">
    <button class="btn btn-default" type="submit" name="button">Add</button>
  </div>
</form>
</div>
