<h1>Add a New Store!</h1>

<a href="/">Home</a>
<form action="/stores" method="post">
  <input type="text" name="store_name" id="store_name">
  <button type="submit" name="button">Add</button>
</form>
