<h1>Store List</h1>
<a href="/">Home</a>
<ul>
  <% @stores.each do |store| %>
  <li><a href="/stores/<%= store.id %>"><%= store.store_name %></a></li>
  <% end %>
</ul>

<a href="/stores/new">Add a New Store</a>
